body {
    background: #ededed;
}
.sheet {
    box-shadow: 3px 3px 8px rgba(0,0,0,.1);
    width: 210mm;
    height: 296mm;
    position: relative;
    font-size: 12pt;
    font-family: monospace;
    page-break-before: always;
    margin-bottom: 15px;
}
.sheet img {
    position: absolute;
    width: 210mm;
    height: 296mm;
}
.sheet [ng-bind] {
    position: absolute;
    z-index: 1;
    font-weight: bold;
    text-shadow: 0 0 6px rgba(255,0,255,.5);
}
@page {
    size: A4;
    margin: 0;
}
@media print {
    html,
    body {
        width: 210mm;
        height: 296mm;
        background: none;
    }
    #form {
        display: none;
    }
    .container,
    .row,
    [class*="col-"] {
        margin: 0;
        padding: 0;
    }
    .sheet {
        margin: 0;
    }
    .sheet [ng-bind] {
        text-shadow: none;
    }
}