<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <!-- Code from https://code.angularjs.org/1.4.9/ -->
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular/angular-messages.min.js"></script>
    <script src="vendor/angular/angular-resource.min.js"></script>
    <script src="vendor/angular-ui/ui-bootstrap-custom-tpls-1.2.5.min.js"></script>
    <!-- App -->
    <script src="app.js"></script>
    <script src="config.controller.js"></script>
</head>

<body ng-controller="controller">
    <div class="container" ng-if="config">
        <div class="row" id="form">
            <div class="col-md-6">
                <form novalidate name="form" ng-submit="submit()">
                    <div ng-repeat="field in config.fields" class="form-group" ng-class="{'has-error':form[field.id].$invalid,'hidden':field.hidden}">
                        <small ng-messages="form[field.id].$error" class="pull-right">
                            <span ng-message="required">Required</span>
                            <span ng-message="pattern">Pattern <strong ng-bind="field.restrictions.pattern"></strong></span>
                            <span ng-message="minlength">Minlength <strong ng-bind="field.restrictions.minlength"></strong></span>
                            <span ng-message="maxlength">Maxlength <strong ng-bind="field.restrictions.maxlength"></strong></span>
                        </small>
                        <label class="control-label">
                            <span ng-bind="field.id | humanize"></span>
                        </label>
                        <input type="text" ng-attr-name="{{ field.id }}" ng-model="data[field.id]" class="form-control" ng-init="data[field.id]=field.default"
                               ng-pattern="field.restrictions.pattern"
                               ng-minlength="field.restrictions.minlength"
                               ng-maxlength="field.restrictions.maxlength"
                               required
                                >
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-print"></i>
                            Print
                        </button>
                        <a ng-click="reload()" class="btn btn-link">Clean</a>
                        <a ng-click="configure(config)" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-cog"></i>
                            Config
                        </a>
                        <a ng-click="reset(true)" class="btn btn-link pull-right">Reset</a>
                    </div>
                </form>
            </div>
        </div>
        <div id="preview">
            <div ng-repeat="sheet in config.sheets" ng-if="sheet.selected">
                <div ng-repeat="copy in range(sheet.copies) track by $index" class="sheet">
                    <img ng-src="image/{{sheet.image}}">
                    <div ng-repeat="binding in sheet.bindings" ng-bind="parse(binding.value)" ng-style="{top:binding.top+'px',left:binding.left+'px'}"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
